
<nav class="bg-blue-600 text-white p-3 flex justify-around items-center shadow-md">
  <a routerLink="/paciente/mis-citas" routerLinkActive="font-bold underline">🩺 Mis Citas</a>
  <a routerLink="/paciente/medicos-disponibles" routerLinkActive="font-bold underline">👨‍⚕️ Médicos</a>
  <a routerLink="/paciente/perfil" routerLinkActive="font-bold underline">👤 Perfil</a>
  
  <button
    (click)="logout()"
    class="bg-red-500 hover:bg-red-600 text-white px-3 py-1 rounded-lg shadow transition">
    🚪 Salir
  </button>
</nav>
